html {
    background-color: #232323;
}
.section {
    background-color: #232323;
	clear: both;
	width: 90%;
    margin-left: 5%;
}

.col1 {
    color: rgb(255, 94, 30);
    position: relative;
    background-color: rgb(255, 94, 30);
	display: block;
	float:left;
	margin: 2% 0 1% 1.6%;
    padding-bottom: 10%;
    border-radius: 10px;
}

.col1:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1;}
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

#span3 {
    background-color: #232323;
}
#span2 {
    color: rgb(34, 68, 218);
    background-color: rgb(34, 68, 218);
}

@media only screen and (max-width: 319px) {
	.col1 {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}

